@mixin buttonVariant($bg, $hover, $textColor: white) {
  background: $bg;

  color: $textColor;

  border: 1px solid color-mix(in srgb, $bg 82%, black);

  box-shadow:
    inset 0 1px rgba(255, 255, 255, 0.35),
    0 2px 4px rgba(0, 0, 0, 0.08);

  &:hover:not(:disabled) {
    background: $hover;

    border-color: color-mix(in srgb, $hover 75%, black);

    box-shadow:
      inset 0 1px rgba(255, 255, 255, 0.45),
      0 8px 16px rgba(0, 0, 0, 0.12);
  }

  &:active:not(:disabled) {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.12);
  }
}

.button {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  padding: 12px 20px;

  min-width: 32px;

  border: none;
  border-radius: 12px;

  font-weight: 600;

  cursor: pointer;

  width: fit-content;

  transition: 0.5s;

  &:hover:not(:disabled) {
    transform: translateY(-2px);
  }

  &:active:not(:disabled) {
    transform: translateY(0);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.xs {
  padding: 4px 10px;
  font-size: 18px;
}

.sm {
  padding: 8px 14px;
  font-size: 14px;
}

.md {
  padding: 12px 20px;
  font-size: 16px;
}

.lg {
  padding: 16px 28px;
  font-size: 18px;
}

.primary {
  @include buttonVariant(
    var(--primary),
    var(--primary-hover),
    var(--primary-text)
  );
}

.secondary {
  @include buttonVariant(
    var(--secondary),
    var(--secondary-hover),
    var(--secondary-text)
  );

  border: 1px solid var(--border);
}

.tertiary {
  @include buttonVariant(
    var(--tertiary),
    var(--tertiary-hover),
    var(--tertiary-text)
  );

  border: 1px solid var(--border);
}

.success {
  @include buttonVariant(var(--success), var(--success-hover));
}

.danger {
  @include buttonVariant(var(--error), var(--error-hover));
}
