/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

:root {
  /* Background */

  --bg: #fff8f3;
  --surface: #ffffff;
  --surface-soft: #fff3ec;

  /* Header / Footer */

  --header-bg: #f37a45;
  --header-text: #ffffff;

  --footer-bg: #f37a45;
  --footer-text: #ffffff;

  /* Logo */

  --logo: #d9f2f7;

  /* Buttons */

  --primary: #f58a3a;
  --primary-hover: #e87722;
  --primary-text: #ffffff;

  --secondary: #4fae9d;
  --secondary-hover: #429988;
  --secondary-text: #ffffff;

  --tertiary: #f3ece6;
  --tertiary-hover: #e7ddd5;
  --tertiary-text: #3a3a3a;

  /* Accent */

  --accent: #e95f4b;
  --accent-hover: #da4f3b;

  /* Status */

  --success: #69c27d;
  --success-hover: #58b36d;

  --warning: #f2be5c;
  --warning-hover: #e7af42;

  --error: #e97a7a;
  --error-hover: #dd6666;

  --info: #6fb9e8;
  --info-hover: #59aadf;

  /* Text */

  --text: #2d3436;
  --text-secondary: #687076;
  --text-muted: #98a2a8;

  /* Other */

  --border: #e8ddd2;
  --shadow: rgba(0, 0, 0, 0.12);

  /* Radius */

  --radius: 16px;

  /* Fonts */

  --font-main: "Roboto", sans-serif;
  --font-logo: "Lobster", cursive;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-main);

  // max-width: 1200px;
  // margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
